p{
    color: rgba(0,0,0,0.7)
}
.banner-content{
    position: relative;
    width: 100%;
    text-align: right;  
}
.banner-content >h1{
    font-size: 400%;
    margin-top: -100px;
    padding: 10px;
}

.about-area{
   padding-top: 250px;
   padding-bottom: 150px;
   overflow: hidden;
    min-height: 100vh;
}

.about-detail-header{
    padding: 10px;
}
.about-detail-header>.title{
     font-size: 300%;
    line-height: normal;
    font-weight: 600;
    transition: all ease 1s;
}






.CD-area{
   min-height: 100vh;
   padding-top: 100px;
   padding-bottom: 100px;
}
.CD-area .CD-header{
    text-align: center;
}

.CD-title {
	margin-bottom: 60px;
	position: relative;
    padding-left: 10px;
    border-left: 1px solid black;
}

.CD-title h3 {
	display: inline-block;
	font-size: 40px;
	font-weight: 700;
	text-transform: capitalize;
    color: whitesmoke;
}
.CD-title p {
	 color: whitesmoke;
}
.CD-title.CD-left {
	margin-bottom: 30px;
}
.CD-title::after {
	border: 1px dashed #fff;
	bottom: -20px;
	content: "";
	left: 0;
	margin: 0 auto;
	position: absolute;
	width: 200px;
	right: 0;
}
.CD-title.CD-left h3::after {
	border: 2px solid #006fbe;
	left: 0;
	right: auto;
    line-height: normal;
}

.CD-card{
   position: relative;
   width: 100%;
   min-height: 200px;
   margin-top: 10px;
   box-shadow: 1.213px 21.213px 30px 0px rgba(0, 0, 0, 0.3);
   transition: all ease 1s;
}

.CD-card-head{
    width: 100%;
    height: 200px;
    position: relative;
    padding-top: 30px;
    background-color:rgba(0,0,0,0.6);
   transition: all ease 1s;
}
.CD-card-head >.CD-name{
    padding-left: 20px;
    font-size: 100%;
     color: rgba(255,255,255,0.9);
       
}
.CD-card-head >.CD-name>span{
    font-size: 200%;
    font-weight: 600;
}
.CD-card-head >.CD-sub{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 200%;
    font-weight: 700;
     color: rgba(255,255,255,0.9);
}

.CD-header-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: -1;
}
.CD-card-body{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background: white;
}

.CD-card-body >ul{
    padding-left: 20px;
}

.CD-card-body >ul>li{
    color: rgba(0,0,0,0.6);
    font-weight: 600;
    font-size: 120%;
    margin-top: 10px;
    text-align: justify;
}

.CD-card-body >p{
    color: rgba(0,0,0,0.6);
    font-weight: 600;
    font-size: 120%;
    margin-top: 10px;
    padding: 0px 15px 15px 15px;
    text-align: justify;
}

.CD-card:hover{
    margin-top: 5px;
    transition: all ease 1s;
    box-shadow: 1.213px 21.213px 30px 0px rgba(0, 0, 0, 0.3);
}

.CD-card:hover>.CD-card-head{
    background-color: rgba(255, 56, 56,0.95);
    transition: all ease 1s;
} 