section{
    background-color: rgba(0,0,0,0.4)
}
.about-area{
    position: relative;
   padding-top: 180px;
   padding-bottom: 50px;
    padding-left: 0px;
   overflow: hidden;
}

.about-detail-header{
    padding: 10px;
}
.about-detail-header>.title{
    font-size: 300%;
    line-height: normal;
    font-weight: 600;
    transition: all ease 1s;
}


.circle {
  padding: 13px 20px;
  border-radius: 50%;
   background-image: -moz-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
  background-image: -webkit-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
  background-image: -ms-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
  color: #fff;
  z-index:100;
}


.how-it-works:hover>.col-6{
     background-color: rgba(0,0,0,0.9);
    transition: all ease 1s;
}
.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ED8D8D;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.full-left::after {
  height: 100%;
  left: calc(50%);
}

.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.how-it-works .col-6{
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    transition: all ease 1s
}

.timeline-area{
    padding: 100px 0px 100px 0px;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #ED8D8D;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ED8D8D;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left:50%;
  top: calc(50% - 3px);
    
}
